<div class="card mb-2 mt-2">
    <div class="card-body">
        <p>Dia: {{ dia }} {{ dia_mes }}</p>
        <p>Hora: {{ hora }}</p>
        <p>Humedad: {{ humedad }} %</p>
        <p>Temperatura: {{ temperatura }} °C</p>
        <p>Viento: {{ viento }} m/s</p>
    </div>
</div>