<div class="container">
  <div class="row">
    <div class="col">
      <app-card-weather *ngFor=" let city of dataCities" (click)="getForecast(city.nombre)" [nombre]="city.nombre"
        [humedad]="city.humedad" [temperatura]="city.temperatura" [viento]="city.viento">
      </app-card-weather>

    </div>
    <div class="col">
      <h3 class="text-center">{{currentCity}}</h3>
      <app-card-details *ngFor="let df of dataForecast" [dia]="df.dia" [dia_mes]="df.dia_mes" [hora]="df.hora"
        [humedad]="df.humedad" [temperatura]="df.temperatura" [viento]="df.viento">
      </app-card-details>
    </div>
  </div>
</div>