<div class="card mb-2 mt-2" style="cursor: pointer">
    <div class="card-header">
        {{ nombre }}
    </div>
    <div class="card-body">
        <p>Humedad: {{ humedad }} %</p>
        <p>Temperatura: {{ temperatura }} °C</p>
        <p>Viento: {{ viento }} m/s</p>
    </div>
</div>